.aboutUs_container {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.aboutUs_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px 0 40px;
    font-size: 2.5rem;
    width: 700px;
}

.aboutUs_image {
    background-image: url("../images/about.jpg");
    height: 856px;
    width: 1024px;
    background-repeat: no-repeat;
    margin: 40px;
}

.abutUs_description {
    font-size: 1.5rem;
}

.signature_image {
    display: flex;
    align-self: flex-end;
    background-image: url("../images/signature.png");
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    margin: 40px;
    background-size: contain;
}