.footer_container {
    display: flex;
    justify-content: center;
}

.footer_image {
    background-image: url("../images/footer_bg_img.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.foorerFormContainer {
    margin: 120px 0;
    left: 60%;
    position: relative;
}

.footerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    font-size: 1.2rem;
    width: 500px;
}

.formTitle {
    font-size: 2.5rem;
}

.formLeft {
    display: flex;
    align-self: flex-start;
}

.nameAndEmail {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    height: 30px;
    margin: 30px 0;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

.message {
    width: 500px;
}

.formBtn {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.formBtn:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.copywright {
    margin: 30px 0 30px 800px;
}

.socialMedia {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.socialMediaBlock {
    margin: 20px 0 20px 600px;
    display: flex;
    justify-self: flex-end;
}

.bottom {
    display: flex;
    justify-content: center;
}