.header_image {
    display: flex;
    justify-content: center;
    background-image: url("../images/header_start_img.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}

// .start_section {
//     display: flex;
//     justify-content: right;
//     align-content: center;
//     height: 100vh;
//     border: 2px solid red;
// }