.header_container {
    display: flex;
    justify-content: space-between;
}

.header_image {
    background-image: url("../images/header_start_img.jpg");
    width: 1000px;
    height: 964px;
    background-repeat: no-repeat;
}

.start_section {
    display: flex;
    flex-direction: column;
    height: 964px;
}

.log_bar {
    display: flex;
    justify-content: flex-end;
    padding: 20px 100px;
}

.log {
    padding: 10px;
    border: 1px solid white;
}

.log:hover,
.nav:hover {
    border: 1px solid black;
}

.nav_bar {
    display: flex;
    padding: 20px 100px;
}

.nav {
    font-size: 1.25rem;
    padding: 20px;
    border: 1px solid white;
}

.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 40px 0;
    font-size: 2.5rem;
}

.decoration_image {
    background-image: url("../images/decoration.png");
    width: 253px;
    height: 33px;
    background-repeat: no-repeat;
    margin: 40px;
}

.main_btns {
    display: flex;
}

.btns {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}

.btns:hover {
    background-color: rgba(0, 0, 0, 0.1)
}