.header_container {
    display: flex;
    justify-content: space-between;
}

.header_image {
    display: flex;
    justify-content: center;
    background-image: url("../images/header_start_img.jpg");
    width: 1000px;
    height: 964px;
    background-repeat: no-repeat;
}

.start_section {
    display: flex;
    flex-direction: column;
    height: 964px;
    border: 2 solid red;
}

.log_bar {
    display: flex;
    justify-content: flex-end;
}

.log {
    padding: 10px;
}

.log:hover {
    border: 1px solid black;
}