.fourStepsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px 0;
    font-size: 2.5rem;
}

.decoration_image {
    background-image: url("../images/decoration.png");
    width: 253px;
    height: 33px;
    background-repeat: no-repeat;
    margin: 40px;
}

// .steps {
//     display: flex;
//     background-color: rgba(0, 0, 0, 0.2);
//     font-size: 1.6rem;
// }

// .step {
//     display: flex;
//     flex-direction: column;
//     padding: 60px;
//     align-items: center;
// }

// .big {
//     font-size: 3rem;
//     margin: 10px;
// }

// .step_desc {
//     margin-top: 10px;
//     padding-top: 10px;
//     width: 200px;
//     border-top: 1px solid black;
//     font-size: 1.3rem;
//     text-align: center;
// }

// .btn {
//     font-size: 2.5rem;
//     width: 350px;
//     padding: 30px;
//     margin: 50px;
//     border: 1px solid black;
//     text-align: center;
// }

// .btn:hover {
//     background-color: rgba(0, 0, 0, 0.1)
// }