.helpStartSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px 0;
    font-size: 2.5rem;
}

.decoration_image {
    background-image: url("../images/decoration.png");
    width: 253px;
    height: 33px;
    background-repeat: no-repeat;
    margin: 40px;
}

.helpOrganizations {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.organization {
    width: 300px;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
}

.organization:hover,
.numb:hover {
    border: 1px solid black;
}

.descriptionText {
    width: 900px;
    font-size: 1.8rem;
    text-align: center;
    margin: 50px;
}

.organizationList {
    width: 1300px;
}

.orgListItem {
    display: flex;
    justify-content: space-between;
}

.orgListItemLeft {
    border-bottom: 1px solid black;
    height: 80px;
    width: 650px;
}

.orgListItemRight {
    border-bottom: 1px solid black;
    height: 40px;
    width: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.orgName {
    font-size: 2rem;
}

.orgDesc {
    font-size: 1.2rem;
}

.helpOrganizationsNumb {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 40px;
}

.numb {
    width: 30px;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}